.item {
    display: inline-block;
    min-width: 40%;
    border: 1px solid red;
    padding: 10px;
    margin: 10px;
}

.h3 {
    display: inline-block;
    border-bottom: 2px solid green;
    margin: 0 0 20px 0;
}
